<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 扫描静态资源文件 -->
    <mvc:resources location="/WEB-INF/jsp/images/" mapping="/images/**"/>
    <mvc:resources location="/WEB-INF/jsp/js/" mapping="/js/**"/>
    <mvc:resources location="/WEB-INF/jsp/css/" mapping="/css/**"/>
    <mvc:resources location="/WEB-INF/jsp/fonts/" mapping="/fonts/**"/>
    <mvc:resources location="/WEB-INF/jsp/i/" mapping="/i/**"/>
    <mvc:resources location="/WEB-INF/jsp/sass/" mapping="/sass/**"/>
    <mvc:resources location="/WEB-INF/jsp/ErrorPage/" mapping="/ErrorPage/**"/>
    <!-- 可以直接访问服务器图片资源文件，但不能直接把文件放在WEB-INF下，引用必须使用JSTL的c标签 -->
    <mvc:default-servlet-handler/>

    <!-- 扫描controller，service，dao类的文件 -->
    <context:component-scan base-package="com.ssm.controller"/>
    <context:component-scan base-package="com.ssm.service"/>
    <context:component-scan base-package="com.ssm.mapper"/>

    <!--
        DefaultAnnotationHandlerMapping -> org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping
        AnnotationMethodHandlerAdapter -> org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter
        AnnotationMethodHandlerExceptionResolver -> ExceptionHandlerExceptionResolver
        以上都在使用了annotation-driven后自动注册。
     -->
    <mvc:annotation-driven/>
    
    
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin-module/*"/>
            <mvc:exclude-mapping path="/admin-module/adminLogin"/>
            <bean class="Interceptors.AdminInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/bbs-module/*"/>
            <mvc:exclude-mapping path="/bbs-module/article-list"/>
            <mvc:exclude-mapping path="/bbs-module/index"/>
            <mvc:exclude-mapping path="/bbs-module/postSpecific"/>
            <mvc:exclude-mapping path="/bbs-module/search.jsp"/>
            <bean class="Interceptors.BBSInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/login-module/*"/>
            <mvc:exclude-mapping path="/login-module/login-page"/>
            <mvc:exclude-mapping path="/login-module/registered"/>
            <mvc:exclude-mapping path="/login-module/forgot-password"/>
            <mvc:exclude-mapping path="/login-module/checkPhone"/>
            <bean class="Interceptors.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/> <!-- JSON转换器 -->
            </list>
        </property>
    </bean>


    <!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 上传文件大小限制为31M，31*1024*1024 -->
        <property name="maxUploadSize" value="32505856"/>
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="4096"/>
    </bean>
</beans>